:root {
    font-family: Inter, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
      font-family: InterVariable, sans-serif;
    }
}

img#hero_image {
    max-width: 400px;
    aspect-ratio: 82 / 100;
    clip-path: url(#clip_logo)
}
svg#studio_logo_svg {
    position: absolute;
    top: -10px;
    lef: -10px;
    width:0;
    height:0;
}
body {
    font-family: "Inter", sans-serif;
}